<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties" />

    <bean id="musicBeanRock"
        class="com.example.springcourse.models.Rock"/>

    <bean id="musicBeanAmbient"
        class="com.example.springcourse.models.Ambient"/>

    <bean id="musicBeanAlternative"
        class="com.example.springcourse.models.Alternative"/>

    <bean id="musicBeanClassical"
        class="com.example.springcourse.models.Classical"/>

    <bean id="musicBeanJazz"
        class="com.example.springcourse.models.Jazz"/>

    <bean id="musicPlayerBean"
        scope="prototype"
        init-method="init"
        destroy-method="destroy"
        class="com.example.springcourse.controllers.MusicPlayer">
        <!-- <constructor-arg ref="musicBean" /> if we need to inject from constructor -->
        <property name="music" ref="musicBeanRock"/>

        <constructor-arg>
            <list>
                <ref bean="musicBeanRock"/>
                <ref bean="musicBeanAmbient"/>
                <ref bean="musicBeanAlternative"/>
                <ref bean="musicBeanClassical"/>
                <ref bean="musicBeanJazz"/>
            </list>
        </constructor-arg>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>
</beans>